* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background: #0F0F0F;
    --surface: #1A1A1A;
    --primary: #8B5CF6;
    --accent: #EC4899;
    --text: #FFFFFF;
    --secondary: #A1A1AA;
}

body {
    background: var(--background);
    color: var(--text);
}

body::-webkit-scrollbar {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-between;
    margin: 20px;
    padding: 5px;
    height : 60px;
    width: 96%;
    min-width: 300px;
    border-radius: 10px;
    background: var(--surface);
}

.logo {
 font-family: "linotype", serif;
 color: var(--primary);
 font-size: 30px;
 padding: 0px 0px 0px 10px;
}

.logo span {
    color : var(--accent);
}

.nav-item {
    display: flex;
    align-items: flex-end;
    font-size: clamp(12px, 2vw, 27px);
    gap: 8px;
    text-underline-offset: 6px;
    margin-bottom: 10px;
}


.bottomGrup {
    display: flex;
    padding-top: 16px;
}

.nav-item a {
    font-family: "zzz";
    font-size: 20px;
    color: var(--text);
}

.active, .nav-item a:hover {
    color: var(--primary);
}

#searchAnime {
    font-size: 9px;
    border-radius: 5px;
    padding: 12px 18px 8px 8px;
    text-align: left;
    background-color: var(--text);
    border: none;
    height: 27px;
    margin: 10px 20px 0px 0px;
}

::placeholder {
    color: var(--accent);
    font-family: "zzz";
    font-size: 16px;
}

.nav-icon{
    padding: 7px 0px 0px 0px;
    width: 40px;
    height: 40px;
}

.iconH {
    display: none;
}

.open-icon {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: var(--text);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 7px;
    padding: 10px;
    margin-left: clamp(20px, 3.6%, 50px);
    transition: background-color 0.6s ease;
}

.circle {
    cursor: pointer;
    width: 20px;
    height:20px;
    background-color: var(--text);
    border-radius: 50%;
}


.active, .circle:active {
    background-color: var(--accent);
    border-radius: 40%;
    height: 4px;
    width: 40px;
    border-radius: 17%;
}

.carousal {
    padding-top: 30px;
    position: relative;
    margin: auto;
    max-width: 1000px;
}

.carousal-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.carousal-img img {
    display: block;
    width: 95%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.carousal-text{
    position: absolute;
    left: clamp(20px, 3vw, 300px);
    right: 20px;
    bottom: clamp(20px, 10vw, 150px);
    color: var(--text);
    font-size: clamp(10px, 2vw, 200px);
    width: fit-content;
    font-size: clamp(0.6rem, 2vw, 2rem);
    font-family: "zzz";
    text-align: left;
    margin: 0px 0px 10px 0px;
    padding: 0.5rem 0.75rem;
    background: color-mix(in srgb, var(--accent), transparent 55%);
    border-radius: 10px;
    box-sizing: border-box;
    animation-name: fade;
}

.carousal-btn {
    position: absolute;
    right: clamp(20px, 3vw, 100px);
    bottom: clamp(10px, 2vw, 30px);
    color: var(--text);
    font-size: clamp(8px, 1vw, 200px);
    border:none;
    width: fit-content;
    font-family: "zzz";
    text-align: right;
    margin: 0;
    padding: 0.5rem 0.75rem;
    background: var(--primary);
    border-radius: 10px;
    box-sizing: border-box;
    animation-name: fade;
}

.carousal-btn:hover {
    box-shadow: inset 0px -10px 12px -4px var(--accent);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.popular-anime {
    background-color: var(--accent);
    right: clamp(1px, 1vw, 10px);
    left: clamp(1px, 1vw, 10px);
    position: absolute;
    margin: 60px 20px 60px 20px;
    padding: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    grid-template-rows: auto auto;
}

.anime-card {
    align-items: center;
    padding: 10px;
    text-align: center;
}

.card-image{
    height: clamp(300px, 20vw, 800px);
    width: auto;
    object-fit: cover;
    border-radius: 10px;
}

#card-topA {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-auto-columns: 230px;
    overflow-x: auto;
    justify-content: start;
    overflow-y: hidden;
    scroll-behavior: smooth;
    gap: 30px;
    width: 100%;
    max-width: 12000px;
}

#card-topA::-webkit-scrollbar {
    display: none;
}


.anime-card {
    font-family: "zzz";
    font-size: 13px;
    margin: 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    gap: 2px;
    text-align: center;
    margin: 0;
}

.image-link {
    display: block;
    width: 100%;
}

.h1A {
    font-family: "linotype";
    font-size: 26px;
    padding: 0px 0px 10px 20px;
    justify-self: start;
    text-decoration: underline var(--background);
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
    color: var(--text);
}

.h1A:hover {
    text-decoration: underline var(--primary);
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}





@media screen and (max-width: 1200px){
    .no-scroll {
        overflow: hidden;
    }

    .logo {
        font-size: 19px;
        padding: 0px 0px 0px 8px;
        margin: 0px 10px 0px 0px;
    }

    .nav-item {
        display: none;
    }
    .nav-icon {
        display: flex;
        width: 40px;
        height: 44px;
        flex-shrink: 0;
    }

    .bottomGrup {
        display: flex;
        margin-top: auto;
        align-items: flex-start;
        flex-direction: row;
        gap: 1px;
    }


    a {
        display: flex;
        min-width: 10px;
    }
    
    .open-icon {
        display: none;
    }
    
    .iconH {
        display: flex;
        z-index: 10;
        margin-right: 10px;
    } 
    
    .iconH.hide {
        display: none;
    }
    
    
    .nav-item.nyala {
        top: clamp(19px, 1%, 100px);
        right: 1%;
        gap: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 1px;
        background-color: var(--surface);
        z-index: 999;
        height: 100vh;
        width: 170px;
        position: absolute;
        padding: 0px 30px 28px 10px;
        z-index: 10;
    }
    
    .open-icon.nyala {
        display: flex;
        font-size: 28px;
        padding-top: 16px;
        margin-left: auto;
    }


    #overLay {
        display: none;
        position: fixed;
        background: color-mix(in srgb, var(--surface), transparent 27%);
        inset: 0;
        z-index: 9;
    }


    

    #searchAnime {
        font-size: 9.60px;
        padding: 12px 6px 9px 7px;
        margin: 14px 5px 0px 0px;
    }

    ::placeholder {
        font-size: 12px;
    }

    .navbar {
        width: 90%;
    }

    .line {
        height: 2px;
    }

    .popular-anime {
        margin: 50px 20px 30px 20px;
    }

    #card-topA {
        display: grid;
        grid-template-rows: auto auto ;
        grid-auto-flow: column ;
        grid-auto-columns: 120px;
        gap: 30px ;
        padding: 10px ;
        overflow-x: auto;
        justify-content: start;
        margin: 20px 10px;
        overflow-y: hidden;
        margin: 20px 0px;
        padding: 10px;
        scroll-behavior: smooth;
    }

    #card-topA::-webkit-scrollbar {
        display: none;
    }

    .anime-card {
        display: flex ;
        flex-direction: column ;
        width: 100% ;
        object-fit: cover;
        border-radius: 8px;
        padding: 0 ;
        margin-top: 0;
        flex: 0 0 auto;
    }
    .card-image {
        width: 100%;
        height: 140px;
        aspect-ratio: 3/4;
        object-fit: cover;
        border-radius: 6px;
    }

    .text-wrapper {
        width: 100%;
        text-align: center;
        margin-top: 8px;
    }

    .anime-title {
        font-size: 13px;
        margin: 0;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0;
        gap: 2px;
        text-align: center;
        margin: 0;
    }

    .text-card p {
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
}

@font-face { 
    font-family: "linotype";
    src: url("../src/font/Linotype\ Didot\ Roman.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "zzz";
    src: url("../src/font/en-us.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

