* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgba(5, 121, 111, 0.938);
    border-radius: 14px;
    margin: 10px 5px 10px 5px;
}
.container-DN {
    list-style: none;
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.listItem-DN {
    height: 50px;
    /* text-decoration: none; */
}
.listItem-DN a{
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 15px 15px 0px 15px;
    text-decoration: none;
    color: white;
}


.listItem-DN:first-child {
    padding-right: 0px;
    margin-right: auto;
}


.container-MN {
    position: fixed;
    top: 0;
    right: 0;
    list-style: none;
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.listItem-MN {
    height: 50px;
    /* text-decoration: none; */
}
.listItem-MN a{
    display: flex;
    justify-content: center;
    height: 50px;
    padding: 15px 15px 0px 15px;
    text-decoration: none;
    color: white;
}


.listItem-MN:first-child {
    padding-right: 0px;
    margin-right: auto;
}